body {
    background: #f9fafb;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 30px;
}

#app>div {
    margin: 50px auto;
    width: 10%;
}

#app img {
    width: 100%;
}